{% extends 'reader/base.html' %}

{% block header %}
{{block.super}}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.18.custom.min.js"></script>
<style type="text/css">
	div.category {
		border-color: red;
	}
	div.feed {
		border-width: 0px;
		background-color: #eee;
	}
	#feedlist { border-width: 0px; }
	#feedlistcontent { border-width: 0px; }
</style>
{% endblock %}

{% block bottomscript %}
{{block.super}}
<script type="text/javascript">
	var mydata='';
	function parseposts(data) {
		//alert("Received "+data.length+" posts");
		mydata = data;
		$('#postlist').empty();
		for( i in data ) {
			p = data[i];
			pelem  = '<div class="post">';
			pelem += '<div class="postheader"><a href="'+p.link+'"><div style="float:right; border: 0px;">Goto</div><h3>'+p.title+'</h3></a></div>';
			pelem += '<div class="postcontent">'+p.content+'</div>';
			pelem += '<div class="postfooter">'+p.author+' on '+p.publishdate+' - '+(p.isread?'Read':'New')+' '+(p.isstarred?'Starred':'Unstarred')+'</div></div>';
			$('#postlist').append(pelem);
		}
	}
	function getposts() {
		//alert("Called getposts " + id + ', ' + cat);
		$.ajax({
			url: 'ajaxpostlist',
			method: 'GET',
			datatype: 'json',
			success: parseposts,
			});
	}
	function getposts(id, cat) {
		//alert("Called getposts " + id + ', ' + cat);
		$.ajax({
			url: 'ajaxpostlist?type='+cat+'&id='+id,
			method: 'GET',
			datatype: 'json',
			success: parseposts,
			});
	}
	function parsefeedlist(data) {
		ret = ''
		for( i in data ) {
			f = data[i];
			ret += '<div class="'+f.type+'"><a href="javascript:getposts('+f.id+',\''+f.type+'\');">'+f.title+'</a>';
			if( f.childs ) {
				ret += parsefeedlist(f.childs);
			}
			ret += '</div>';
		}
		return ret;
	}
	function getfeedlist(data, textstatus, jqXHR) {
		$('#feedlistcontent').empty();
		$('#feedlistcontent').append(parsefeedlist(data));
	}
	function updatefeedlist() {
		$.ajax({
			url: 'ajaxfeedlist',
			method: 'GET',
			datatype: 'json',
			success: getfeedlist
			});
	};
	$(document).ready(function() {
			updatefeedlist();
			});
</script>
{% endblock %}

{% block sidebar %}
<div id="feedlist">
	<div id="feedlistheader"><a href="javascript:updatefeedlist();">Update Feed List</a><br><a href="javascript:getposts();">All Feeds</a></div>
	<div id="feedlistcontent"></div>
</div>
{% endblock %}

{% block content %}
Posts
<div id="postlist"></div>
{% endblock %}
