{% extends 'reader/base.html' %}

{% block header %}
{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}/masonry-site/jquery.masonry.js"></script>
<style type="text/css">
	div.category {
		border-color: red;
	}
	div.feed {
		border-width: 0px;
		background-color: #eee;
	}
	#feedlist { border-width: 0px; }
	#feedlistcontent { border-width: 0px; }
	#content {
		padding: 0px;
		border: 0px;
	}
	#postlist { border: 0px; }
	div.post {
		width: 300px;
		border: 0px;
		margin: 0px;
		padding: 0px;
		margin-bottom: 1em;
	}
	div.postheader {
		margin: 0px;
		padding: 0.3em;
		border: solid 1px #aaaaaa;
	}
	div.postcontent {
		margin: 0px;
		padding: 0.5em;
		border: solid 1px #aaaaaa;
		border-top: 0;
		border-bottom: 0;
	}
	div.postcontent div {
		border: 0px;
	}
	div.postcontent img {
	}
	div.postfooter {
		margin: 0px;
		padding: 0.3em;
		border: solid 1px #aaaaaa;
		clear: both;
		font-size: small;
	}
</style>
{% endblock %}

{% block bottomscript %}
{{block.super}}
<script type="text/javascript">
	var mydata='';
	function parseposts(data) {
		//alert("Received "+data.length+" posts");
		mydata = data;
		$('#postlist').empty().masonry('reload');
		for( i in data ) {
			var p = data[i];
			var $post = $([
					'<div class="post" id="post'+p.id+'">',
					'<div class="postheader ui-corner-top ui-widget-header">',
						'<a href="'+p.link+'" target="_blank"><div class="ui-icon ui-icon-circle-arrow-e" style="float:right; border: 0px;">Goto</div>'+p.title+'</a>',
					'</div>',
					'<div class="postcontent">'+p.content+'</div>',
					'<div class="postfooter ui-corner-bottom">'+p.author+' on '+p.publishdate+' - '+(p.isread?'Read':'New')+' '+(p.isstarred?'Starred':'Unstarred')+'</div></div>'
					].join('\n'));
			$('#postlist').append($post).masonry('appended', $post);
		}
		//$('#postlist').appended();
	}
	function getposts() {
		//alert("Called getposts " + id + ', ' + cat);
		$.ajax({
			url: '/reader/ajaxpostlist',
			method: 'GET',
			datatype: 'json',
			success: parseposts,
			});
	}
	function getposts(id, cat) {
		//alert("Called getposts " + id + ', ' + cat);
		$.ajax({
			url: '/reader/ajaxpostlist?type='+cat+'&id='+id,
			method: 'GET',
			datatype: 'json',
			success: parseposts,
			});
	}
	function parsefeedlist(data) {
		ret = ''
		for( i in data ) {
			f = data[i];
			ret += '<div class="'+f.type+'"><a href="/reader/'+f.type+'/'+f.id+'" ref="javascript:getposts('+f.id+',\''+f.type+'\');">'+f.title+'</a>';
			if( f.childs ) {
				ret += parsefeedlist(f.childs);
			}
			ret += '</div>';
		}
		return ret;
	}
	function getfeedlist(data, textstatus, jqXHR) {
		$('#feedlistcontent').empty();
		$('#feedlistcontent').append(parsefeedlist(data));
	}
	function updatefeedlist() {
		$.ajax({
			url: '/reader/ajaxfeedlist',
			method: 'GET',
			datatype: 'json',
			success: getfeedlist
			});
	};
	function executeurl(url, push) {
		push = typeof push !== 'undefined' ? push : true;
		s = /(feed|category)\/(\d+)/.exec(url);
		if( s && s.length > 1 ) {
			getposts(s[2], s[1]);
		} else {
			getposts();
		}
		if(push && window.history.pushState) {
			window.history.pushState({'state': url}, url, url);
		}
	}
	window.onpopstate = function(event) {
		if(event.state && event.state.state) {
			executeurl(event.state.state, false);
		}
	}
	$(document).ready(function() {
			updatefeedlist();
			$('#postlist').masonry({
				itemSelector: '.post',
				//columnWidth: 360,
				columnWidth: function(containerWidth) {
					windowwidth = $('#postlist').innerWidth()-20; // - $('#content').css('margin-left');
					var w = Math.floor(windowwidth / 300);
					$('#columns').empty().append(w+' columns');
					$('.post').css('width', windowwidth/w - w*5);
					$('#postwidth').empty().append('post width: ' + (windowwidth/w - w*5));
					$('#columnwidth').empty().append('column width: '+(windowwidth/w-w));
					return windowwidth/w-w;
					},
				});
			$('#feedlistcontent a').live('click', function(event) {
					executeurl(this.href);
					event.preventDefault();
					return false;
				});
			executeurl(document.URL);
		});
</script>
{% endblock %}

{% block sidebar %}
<div id="feedlist">
	<div id="feedlistheader">
		<a href="javascript:updatefeedlist();">Update Feed List</a>
		<br>
		<a href="/reader/" ref="javascript:getposts();">All Feeds</a>
	</div>
	<div id="feedlistcontent"></div>
</div>
{% endblock %}

{% block content %}
<div style="font-size: 75%;"><span id="columns"></span> <span id="columnwidth"></span> <span id="postwidth"></span></div>
<!--Posts-->
<div id="postlist"></div>
{% endblock %}
