<div id="postlist">
	{% for p in postlist %}
	<div class="post" id="post'+p.id+'">
		<div class="postheader ui-corner-top ui-widget-header">
			<a href="{{p.link}}" target="_blank"><div class="ui-icon ui-icon-circle-arrow-e" style="float:right; border: 0px;">Goto</div>{{p.title|striptags}}</a>
		</div>
		<div class="postcontent">
			{{ p.content|removetags:"div"|truncatewords_html:25|safe }}
			<div style="clear: both;"></div>
		</div>
		<div class="postfooter ui-corner-bottom">{{p.author}} on {{p.publishdate}} - {#(p.isread?'Read':'New')+' '+(p.isstarred?'Starred':'Unstarred')#}</div>
	</div>
	{% endfor %}
</div>
<div id="pagination">
	This is page {{page}}. <a href="{{ nextpagelink }}">Next Page</a>
</div>
